<ion-view class="add-contacts-page">
    <ion-content scroll="false">
        <div class="page-title">ניהול קבוצה</div>
        <div class="group-name">{{groupData.groupName}}</div>

        <div class="add-student-container">
            <div class="phone-numbers" ng-repeat="number in phoneNumberArr">{{number}}</div>
            <button class="add-member-btn" ng-click="addNewContact()">+</button>
            <button class="button button-full button-positive submit-btn" ng-click="updateGroup()">אישור</button>
        </div>
</ion-view>
