<ion-view>
    <ion-content class="report-before">
        <div class="report-header">
            <div class="top-text">{{vm.date|date}}ההתראה הקרובה ב </div>
            <div class="alert-section">
                <ion-toggle ng-model="vm.alert.enabled"
                            ng-change="vm.updateAlert()"
                            toggle-class="toggle-balanced">{{vm.alertTime}}
                </ion-toggle>
            </div>
        </div>
        <div class="image-wrapper">
            <img ng-src="{{vm.imgUrl}}">
        </div>
    </ion-content>
</ion-view>

